These Are All of The Movies
<div class = "movie">
{{#each allTheMoviesFromTheDB}}
<div>
<li>
<h6> {{this.title}}</h6>
<img src="{{this.image}}" width='50' />
<a href = "info/"></a>
</li>
</div>
</div>

{{/each}}